
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}

<div id="homepage-container">
    <div class="homepage-menu">
        <a href="/Supplier/Index">
            <div></div>
            <h1>Nhà cung cấp</h1>
            <i class="fas fa-industry"></i>
        </a>
    </div>
    <div class="homepage-menu">
        <a href="/Customer/Index">
            <div></div>
            <h1>Nhà phân phối</h1>
            <i class="fas fa-shipping-fast"></i>
        </a>
    </div>
    <div class="homepage-menu">
        <a href="/GoodsReceipt/Index">
            <div></div>
            <h1>Phiếu nhập</h1>
            <i class="fas fa-download"></i>
        </a>
    </div>
    <div class="homepage-menu">
        <a href="/GoodsIssue/Index">
            <div></div>
            <h1>Phiếu xuất</h1>
            <i class="fas fa-upload"></i>
        </a>
    </div>
    <div class="homepage-menu">
        <a href="/Book/Index">
            <div></div>
            <h1>Đầu sách</h1>
            <i class="fas fa-book"></i>
        </a>
    </div>
    <div class="homepage-menu">
        <a href="/BookCategory/Index">
            <div></div>
            <h1>Danh mục sách</h1>
            <i class="fas fa-clipboard-list"></i>
        </a>
    </div>
    <div class="homepage-menu">
        <a href="/Report/ProfitReport">
            <div></div>
            <h1>Doanh thu</h1>
            <i class="fas fa-chart-bar"></i>
        </a>
    </div>
    <div class="homepage-menu">
        <a href="/Report/InventoryReport">
            <div></div>
            <h1>Tồn kho</h1>
            <i class="fas fa-warehouse"></i>
        </a>
    </div>
</div>

