<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Import FontAwesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <!-- Import CSS -->
    <link rel="stylesheet" href="../Public/CSS/style.css">
    <link rel="icon" href="../Public/Images/logo.png">
    <title>Book Storage</title>
</head>
<body>
    <div id="layer"></div>
    <div id="home-login" class="home-signup f-roboto">
        <div class="container">
            <img class="form-banner" src="../Public/Images/banner-signup-form.jpg" alt="">
            <div class="form-container">
                <div class="form-heading">
                    <h2>Hệ thống quản lý kho sách</h2>
                    <h2 class="f-overpass">Book Storage</h2>
                </div>
                <div class="form-main">
                    <h2>Đăng ký</h2>
                    <form action="" method="POST">
                        <div>
                            <input type="text" name="username" placeholder="Tên tài khoản" required>
                            <input type="text" name="fullname" placeholder="Tên đầy đủ" required>
                        </div>
                        <div>
                            <input type="password" name="password" placeholder="Mật khẩu" required>
                            <input type="password" name="confirm-password" placeholder="Xác nhận Mật khẩu" required>
                        </div>
                        <div>
                            <input type="date" name="birth" placeholder="Ngày tháng năm sinh" required>
                            <input type="number" name="phone" placeholder="Số điện thoại" required>
                        </div>
                        <input type="email" name="email" placeholder="Email" required>
                        <button type="submit" name="submit">Đăng ký</button>
                    </form>
                </div>
                <div class="form-end">
                    Nếu bạn đã có tài khoản?
                    <a href=""> Đăng nhập</a>
                </div>
            </div>
        </div>
    </div>
    <script src="../Public/JS/index.js"></script>
    <script src="../Public/JS/testLayout.js"></script>
</body>
</html>