<header>
    <div class="menu-icon" onclick="menuDisplay()"><i class="fas fa-bars"></i></div>
    <div class="header-log">
        <div class="admin-info">
            <img src="~/Assets/Images/admin.png" alt="admin-avatar">
            <div class="admin-name">Quản trị viên</div>
        </div>
        <div class="logout">
            <a href="@Url.Action("Logout", "Login")">
                Đăng xuất
                <i class="fas fa-sign-out-alt"></i>
            </a>
        </div>
    </div>
</header>