<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Import FontAwesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <!-- Import CSS -->
    <link rel="stylesheet" href="~/Assets/CSS/style.css">
    <link href="~/Assets/CSS/PagedList.css" rel="stylesheet" />
    <link rel="icon" href="~/Assets/Images/logo.png">
    <title>Book Storage</title>
</head>
<body class="f-roboto">
        <!--------------------- START CONTENT (Each page) -------------------->
        <div id="main-content" class="warehousing">
            @RenderBody()
        </div>
        <!--------------------- END CONTENT (Each page) ---------------------->
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    <script src="http://code.jquery.com/jquery-1.12.4.min.js"
            integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ="
            crossorigin="anonymous">
    </script>
    <script src="~/Assets/JS/index.js"></script>
</body>
</html>