<div id="sidebar" class="f-roboto">
    <div id="menu-header" class="f-overpass">
        <p class="administrator" onclick="direct('/')">Administrator</p>
        <img class="administrator" onclick="direct('/')" src="~/Assets/Images/logo-white.png" alt="icon-white">
    </div>
    <div id="avatar">
        <img id="avatar-sidebar" src="~/Assets/Images/admin.png" alt="admin-avatar">
        <div class="admin-info">
            <div class="admin-name">Quản trị viên</div>
            <div class="admin-status">
                <img src="~/Assets/Images/online.png" alt="online">
                Online
            </div>
        </div>
    </div>
    <div id="search-sidebar">
        <input type="text" placeholder="Tìm kiếm">
        <i class="fas fa-search"></i>
    </div>
    <div id="sidebar-title">QUẢN LÝ</div>
    <div id="homepage">
        <a href="">
            <i class="fas fa-home"></i>
            <span class="menu-item">Trang chủ</span>
        </a>
        <i class="menu-item fas fa-angle-left"></i>
    </div>
    <div id="supplier">
        <a href="">
            <i class="fas fa-industry"></i>
            <span class="menu-item">Nhà cung cấp</span>
        </a>
        <i class="menu-item fas fa-angle-left"></i>
    </div>
    <div id="distributor">
        <a href="">
            <i class="fas fa-shipping-fast"></i>
            <span class="menu-item">Nhà phân phối</span>
        </a>
        <i class="menu-item fas fa-angle-left"></i>
    </div>
    <div id="import-form">
        <a href="">
            <i class="fas fa-download"></i>
            <span class="menu-item">Phiếu nhập</span>
        </a>
        <i class="menu-item fas fa-angle-left"></i>
    </div>
    <div id="export-form">
        <a href="">
            <i class="fas fa-upload"></i>
            <span class="menu-item">Phiếu xuất</span>
        </a>
        <i class="menu-item fas fa-angle-left"></i>
    </div>
    <div id="book">
        <a href="">
            <i class="fas fa-book"></i>
            <span class="menu-item">Đầu sách</span>
        </a>
        <i class="menu-item fas fa-angle-left"></i>
    </div>
    <div id="book-category">
        <a href="">
            <i class="fas fa-clipboard-list"></i>
            <span class="menu-item">Danh mục sách</span>
        </a>
        <i class="menu-item fas fa-angle-left"></i>
    </div>
    <div id="revenue">
        <a href="">
            <i class="fas fa-chart-bar"></i>
            <span class="menu-item">Doanh thu</span>
        </a>
        <i class="menu-item fas fa-angle-left"></i>
    </div>
    <div id="inventory">
        <a href="">
            <i class="fas fa-warehouse"></i>
            <span class="menu-item">Tồn kho</span>
        </a>
        <i class="menu-item fas fa-angle-left"></i>
    </div>
</div>