<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Import FontAwesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <!-- Import CSS -->
    <link rel="stylesheet" href="../Public/CSS/style.css">
    <link rel="icon" href="../Public/Images/logo.png">
    <title>Book Storage</title>
</head>
<body class="f-roboto">
    <!--------------------- START LOADING (All pages) -------------------->
    <div class="loader-container">
        <?xml version="1.0" encoding="utf-8"?>
        <svg class="loader" xmlns="http://www.w3.org/2000/svg" version="1.2" baseProfile="tiny" x="0" y="0" viewBox="0 0 200 200" xml:space="preserve"><path class="loaderreverse" d="M200 100c0-30.3-13.5-57.5-34.8-75.8 -4.8-4.1-12.2-3-15.8 2.3v0c-3 4.5-2.4 10.7 1.8 14.2 16.6 14.4 27.1 35.6 27.1 59.3s-10.5 44.9-27.1 59.3c-4.1 3.6-4.8 9.7-1.8 14.2v0c3.6 5.3 11 6.4 15.8 2.3C186.5 157.5 200 130.3 200 100z"/><path d="M156.7 100c0-14.9-5.8-28.5-15.2-38.6 -4.6-4.9-12.6-4.1-16.3 1.4l-0.4 0.6c-2.8 4.1-2.2 9.5 1.2 13.2 5.7 6.2 9.1 14.4 9.1 23.5 0 9-3.4 17.3-9.1 23.5 -3.3 3.7-3.9 9-1.2 13.2l0.4 0.6c3.7 5.6 11.7 6.3 16.3 1.4C150.9 128.5 156.7 114.9 156.7 100z"/></svg>
    </div>
    <!--------------------- END LOADING (All pages) -------------------->
    
    <!--------------------- START SIDEBAR (All pages) -------------------->
    <div id="sidebar" class="f-roboto">
        <div id="menu-header" class="f-overpass">
            <p class="administrator" onclick="direct('/')">Administrator</p>
            <img class="administrator" onclick="direct('/')" src="../Public/Images/logo-white.png" alt="icon-white">
        </div>
        <div id="avatar">
            <img id="avatar-sidebar" src="../Public/Images/admin.png" alt="admin-avatar">
            <div class="admin-info">
                <div class="admin-name">Quản trị viên</div>
                <div class="admin-status">
                    <img src="../Public/Images/online.png" alt="online">
                    Online
                </div>
            </div>
        </div>
        <div id="search-sidebar">
            <input type="text" placeholder="Tìm kiếm">
            <i class="fas fa-search"></i>
        </div>
        <div id="sidebar-title">QUẢN LÝ</div>
        <div id="homepage">
            <a href="">
                <i class="fas fa-home"></i>
                <span class="menu-item">Trang chủ</span>
            </a>
            <i class="menu-item fas fa-angle-left"></i>
        </div>
        <div id="supplier">
            <a href="">
                <i class="fas fa-industry"></i>
                <span class="menu-item">Nhà cung cấp</span>
            </a>
            <i class="menu-item fas fa-angle-left"></i>
        </div>
        <div id="distributor">
            <a href="">
                <i class="fas fa-shipping-fast"></i>
                <span class="menu-item">Nhà phân phối</span>
            </a>
            <i class="menu-item fas fa-angle-left"></i>
        </div>
        <div id="import-form">
            <a href="">
                <i class="fas fa-download"></i>
                <span class="menu-item">Phiếu nhập</span>
            </a>
            <i class="menu-item fas fa-angle-left"></i>
        </div>
        <div id="export-form">
            <a href="">
                <i class="fas fa-upload"></i>
                <span class="menu-item">Phiếu xuất</span>
            </a>
            <i class="menu-item fas fa-angle-left"></i>
        </div>
        <div id="book">
            <a href="">
                <i class="fas fa-book"></i>
                <span class="menu-item">Đầu sách</span>
            </a>
            <i class="menu-item fas fa-angle-left"></i>
        </div>
        <div id="book-category">
            <a href="">
                <i class="fas fa-clipboard-list"></i>
                <span class="menu-item">Danh mục sách</span>
            </a>
            <i class="menu-item fas fa-angle-left"></i>
        </div>
        <div id="revenue">
            <a href="">
                <i class="fas fa-chart-bar"></i>
                <span class="menu-item">Doanh thu</span>
            </a>
            <i class="menu-item fas fa-angle-left"></i>
        </div>
        <div id="inventory">
            <a href="">
                <i class="fas fa-warehouse"></i>
                <span class="menu-item">Tồn kho</span>
            </a>
            <i class="menu-item fas fa-angle-left"></i>
        </div>
    </div>
    <!--------------------- END SIDEBAR (All pages) ---------------------->

    <div id="content">
        <!--------------------- START Header (All pages) --------------------->
        <header>
            <div class="menu-icon" onclick="menuDisplay()"><i class="fas fa-bars"></i></div>
            <div class="header-log">
                <div class="admin-info">
                    <img src="../Public/Images/admin.png" alt="admin-avatar">
                    <div class="admin-name">Quản trị viên</div>
                </div>
                <div class="logout"><a href="">
                    Đăng xuất
                    <i class="fas fa-sign-out-alt"></i>
                </a></div>
            </div>
        </header>
        <!--------------------- END Header (All pages) ----------------------->
    
        <!--------------------- START CONTENT (Each page) -------------------->
        <div id="main-content">
            <div id="book-content">
                <h1>Quản lý phiếu nhập</h1>
                <hr>
                <div class="content-container">
                    <div class="content-title">Tra cứu phiếu nhập</div>
                    <div class="content-table">
                        <div class="interactive">
                            <div class="search-content">
                                <input type="text" placeholder="Tìm kiếm">
                                <i class="fas fa-search"></i>
                            </div>
                            <button class="create-new-button">
                                <i class="fas fa-plus-circle"></i>
                                Thêm mới
                            </button>
                        </div>
                        <div class="table-container">
                            <table>
                                <!-- Start Title Row -->
                                <tr class="table-title-row">
                                    <th>Mã sách</th>
                                    <th>Mã nhập</th>
                                    <th>Số lượng dự kiến</th>
                                    <th>Số lượng thực nhận</th>
                                    <th>Tổng chi phí</th>
                                    <th>Thao tác</th>
                                </tr>
                                <!-- End Title Row -->
                                <!-- Start Content Row -->
                                <tr class="table-content-row">
                                    <td>123456</td>
                                    <td>654321</td>
                                    <td>100</td>
                                    <td>90</td>
                                    <td>120.000</td>
                                    <td>
                                        <a href="">
                                            <i class="far fa-edit"></i>
                                            Sửa
                                        </a>
                                        <a href="">
                                            <i class="fas fa-trash-alt"></i> 
                                            Xoá
                                        </a>
                                    </td>
                                </tr>
                                <tr class="table-content-row">
                                    <td>123456</td>
                                    <td>654321</td>
                                    <td>100</td>
                                    <td>90</td>
                                    <td>120.000</td>
                                    <td>
                                        <a href="">
                                            <i class="far fa-edit"></i>
                                            Sửa
                                        </a>
                                        <a href="">
                                            <i class="fas fa-trash-alt"></i> 
                                            Xoá
                                        </a>
                                    </td>
                                </tr>
                                <tr class="table-content-row">
                                    <td>123456</td>
                                    <td>654321</td>
                                    <td>100</td>
                                    <td>90</td>
                                    <td>120.000</td>
                                    <td>
                                        <a href="">
                                            <i class="far fa-edit"></i>
                                            Sửa
                                        </a>
                                        <a href="">
                                            <i class="fas fa-trash-alt"></i> 
                                            Xoá
                                        </a>
                                    </td>
                                </tr>
                                <tr class="table-content-row">
                                    <td>123456</td>
                                    <td>654321</td>
                                    <td>100</td>
                                    <td>90</td>
                                    <td>120.000</td>
                                    <td>
                                        <a href="">
                                            <i class="far fa-edit"></i>
                                            Sửa
                                        </a>
                                        <a href="">
                                            <i class="fas fa-trash-alt"></i> 
                                            Xoá
                                        </a>
                                    </td>
                                </tr>
                                <tr class="table-content-row">
                                    <td>123456</td>
                                    <td>654321</td>
                                    <td>100</td>
                                    <td>90</td>
                                    <td>120.000</td>
                                    <td>
                                        <a href="">
                                            <i class="far fa-edit"></i>
                                            Sửa
                                        </a>
                                        <a href="">
                                            <i class="fas fa-trash-alt"></i> 
                                            Xoá
                                        </a>
                                    </td>
                                </tr>
                                <tr class="table-content-row">
                                    <td>123456</td>
                                    <td>654321</td>
                                    <td>100</td>
                                    <td>90</td>
                                    <td>120.000</td>
                                    <td>
                                        <a href="">
                                            <i class="far fa-edit"></i>
                                            Sửa
                                        </a>
                                        <a href="">
                                            <i class="fas fa-trash-alt"></i> 
                                            Xoá
                                        </a>
                                    </td>
                                </tr>
                                <tr class="table-content-row">
                                    <td>123456</td>
                                    <td>654321</td>
                                    <td>100</td>
                                    <td>90</td>
                                    <td>120.000</td>
                                    <td>
                                        <a href="">
                                            <i class="far fa-edit"></i>
                                            Sửa
                                        </a>
                                        <a href="">
                                            <i class="fas fa-trash-alt"></i> 
                                            Xoá
                                        </a>
                                    </td>
                                </tr>
                                <tr class="table-content-row">
                                    <td>123456</td>
                                    <td>654321</td>
                                    <td>100</td>
                                    <td>90</td>
                                    <td>120.000</td>
                                    <td>
                                        <a href="">
                                            <i class="far fa-edit"></i>
                                            Sửa
                                        </a>
                                        <a href="">
                                            <i class="fas fa-trash-alt"></i> 
                                            Xoá
                                        </a>
                                    </td>
                                </tr>
                                <tr class="table-content-row">
                                    <td>123456</td>
                                    <td>654321</td>
                                    <td>100</td>
                                    <td>90</td>
                                    <td>120.000</td>
                                    <td>
                                        <a href="">
                                            <i class="far fa-edit"></i>
                                            Sửa
                                        </a>
                                        <a href="">
                                            <i class="fas fa-trash-alt"></i> 
                                            Xoá
                                        </a>
                                    </td>
                                </tr>
                                <tr class="table-content-row">
                                    <td>123456</td>
                                    <td>654321</td>
                                    <td>100</td>
                                    <td>90</td>
                                    <td>120.000</td>
                                    <td>
                                        <a href="">
                                            <i class="far fa-edit"></i>
                                            Sửa
                                        </a>
                                        <a href="">
                                            <i class="fas fa-trash-alt"></i> 
                                            Xoá
                                        </a>
                                    </td>
                                </tr>
                                <tr class="table-content-row">
                                    <td>123456</td>
                                    <td>654321</td>
                                    <td>100</td>
                                    <td>90</td>
                                    <td>120.000</td>
                                    <td>
                                        <a href="">
                                            <i class="far fa-edit"></i>
                                            Sửa
                                        </a>
                                        <a href="">
                                            <i class="fas fa-trash-alt"></i> 
                                            Xoá
                                        </a>
                                    </td>
                                </tr>
                                <tr class="table-content-row">
                                    <td>123456</td>
                                    <td>654321</td>
                                    <td>100</td>
                                    <td>90</td>
                                    <td>120.000</td>
                                    <td>
                                        <a href="">
                                            <i class="far fa-edit"></i>
                                            Sửa
                                        </a>
                                        <a href="">
                                            <i class="fas fa-trash-alt"></i> 
                                            Xoá
                                        </a>
                                    </td>
                                </tr>
                                <tr class="table-content-row">
                                    <td>123456</td>
                                    <td>654321</td>
                                    <td>100</td>
                                    <td>90</td>
                                    <td>120.000</td>
                                    <td>
                                        <a href="">
                                            <i class="far fa-edit"></i>
                                            Sửa
                                        </a>
                                        <a href="">
                                            <i class="fas fa-trash-alt"></i> 
                                            Xoá
                                        </a>
                                    </td>
                                </tr>
                                <tr class="table-content-row">
                                    <td>123456</td>
                                    <td>654321</td>
                                    <td>100</td>
                                    <td>90</td>
                                    <td>120.000</td>
                                    <td>
                                        <a href="">
                                            <i class="far fa-edit"></i>
                                            Sửa
                                        </a>
                                        <a href="">
                                            <i class="fas fa-trash-alt"></i> 
                                            Xoá
                                        </a>
                                    </td>
                                </tr>
                                <tr class="table-content-row">
                                    <td>123456</td>
                                    <td>654321</td>
                                    <td>100</td>
                                    <td>90</td>
                                    <td>120.000</td>
                                    <td>
                                        <a href="">
                                            <i class="far fa-edit"></i>
                                            Sửa
                                        </a>
                                        <a href="">
                                            <i class="fas fa-trash-alt"></i> 
                                            Xoá
                                        </a>
                                    </td>
                                </tr>
                                <!-- End Content Row -->
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--------------------- END CONTENT (Each page) ---------------------->
    </div>
    <script src="http://code.jquery.com/jquery-1.12.4.min.js"
            integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ="
            crossorigin="anonymous">
    </script>
    <script src="../Public/JS/index.js"></script>
</body>
</html>